#header {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}

.btn-pink{
	    background-color: #ef6282;
}
section{
padding-top:50px;
padding-bottom: 50px;
}